.u-section-1 .u-sheet-1 {
  min-height: 1036px;
}

.u-section-1 .u-text-1 {
  margin: 20px 1022px 0 0;
}

.u-section-1 .u-text-2 {
  letter-spacing: 2px;
  font-weight: 700;
  font-size: 2.25rem;
  margin: 48px 1004px 0 14px;
}

.u-section-1 .u-layout-wrap-1 {
  width: 1485px;
  margin: -52px auto 0 -160px;
}

.u-section-1 .u-layout-cell-1 {
  min-height: 953px;
}

.u-section-1 .u-container-layout-1 {
  padding: 30px 30px 0 43px;
}

.u-section-1 .u-group-1 {
  width: 1268px;
  min-height: 1420px;
  margin: 0 -654px 0 auto;
}

.u-section-1 .u-container-layout-2 {
  padding: 30px;
}

.u-section-1 .u-icon-1 {
  height: 32px;
  width: 32px;
  margin: -46px auto 0 -30px;
}

.u-section-1 .u-image-1 {
  width: 300px;
  height: 300px;
  margin: 0 1044px 0 -136px;
}

.u-section-1 .u-image-2 {
  width: 218px;
  height: 218px;
  margin: -259px auto 0 212px;
}

.u-section-1 .u-text-3 {
  line-height: 1.6;
  letter-spacing: 1px;
  margin: -15px 1120px 0 -60px;
}

.u-section-1 .u-text-4 {
  letter-spacing: 1px;
  margin: -49px 832px 0 254px;
}

.u-section-1 .u-text-5 {
  letter-spacing: 1px;
  margin: -42px 451px 0 538px;
}

.u-section-1 .u-text-6 {
  font-weight: 700;
  margin: 66px 932px 0 -51px;
}

.u-section-1 .u-text-7 {
  letter-spacing: 1px;
  line-height: 1.4;
  margin: 26px 1105px 0 -75px;
}

.u-section-1 .u-text-8 {
  letter-spacing: 1px;
  font-size: 1.125rem;
  margin: -140px 870px 0 128px;
}

.u-section-1 .u-text-9 {
  font-weight: 700;
  margin: 76px 845px 0 198px;
}

.u-section-1 .u-icon-2 {
  height: 30px;
  width: 30px;
  margin: -33px auto 0 154px;
}

.u-section-1 .u-image-3 {
  width: 511px;
  height: 415px;
  margin: -411px auto 0 338px;
}

.u-section-1 .u-image-4 {
  width: 227px;
  height: 227px;
  margin: -635px 462px 0 auto;
}

.u-section-1 .u-text-10 {
  letter-spacing: 1px;
  margin: 454px 999px 0 -104px;
}

.u-section-1 .u-text-11 {
  margin: -21px 553px 0 271px;
}

.u-section-1 .u-text-12 {
  letter-spacing: 1px;
  font-size: 1rem;
  margin: 12px 1044px 0 -74px;
}

.u-section-1 .u-text-13 {
  letter-spacing: 1px;
  font-size: 1rem;
  margin: -50px 617px 0 318px;
}

.u-section-1 .u-icon-3 {
  height: 27px;
  width: 27px;
  margin: -1040px auto 0 0;
}

.u-section-1 .u-layout-cell-2 {
  min-height: 953px;
}

.u-section-1 .u-container-layout-3 {
  padding: 12px 12px 3px 30px;
}

.u-section-1 .u-text-14 {
  letter-spacing: 2px;
  margin: 279px 277px 0 211px;
}

.u-section-1 .u-text-15 {
  letter-spacing: 1px;
  margin: -21px 26px 0 522px;
}

.u-section-1 .u-image-5 {
  width: 223px;
  height: 223px;
  margin: -223px 6px 0 auto;
}

.u-section-1 .u-image-6 {
  width: 232px;
  height: 232px;
  margin: -232px auto 0 192px;
}

.u-section-1 .u-text-16 {
  letter-spacing: 1px;
  font-weight: 700;
  font-size: 1.875rem;
  margin: 53px 167px 0 225px;
}

.u-section-1 .u-icon-4 {
  height: 29px;
  width: 30px;
  margin: -32px auto 0 182px;
}

.u-section-1 .u-text-17 {
  margin: 54px 226px 0 140px;
}

.u-section-1 .u-text-18 {
  letter-spacing: 1px;
  margin: 7px 136px 0 140px;
}

.u-section-1 .u-text-19 {
  margin: 40px 89px 0 225px;
}

.u-section-1 .u-text-20 {
  font-size: 1rem;
  margin: 0 -19px 0 225px;
}

.u-section-1 .u-text-21 {
  margin: 54px -56px 0 364px;
}

.u-section-1 .u-text-22 {
  font-size: 1rem;
  margin: 14px -94px 0 402px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 686px;
  }

  .u-section-1 .u-text-1 {
    margin-right: 822px;
  }

  .u-section-1 .u-text-2 {
    margin-right: 818px;
    margin-left: 0;
  }

  .u-section-1 .u-layout-wrap-1 {
    width: 940px;
    margin-left: 0;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 603px;
  }

  .u-section-1 .u-group-1 {
    width: 800px;
    margin-top: 44px;
    margin-right: auto;
    margin-left: 120px;
  }

  .u-section-1 .u-icon-1 {
    height: 36px;
    width: 36px;
    margin-top: 393px;
    margin-left: 59px;
  }

  .u-section-1 .u-image-1 {
    margin-top: -443px;
    margin-right: 609px;
  }

  .u-section-1 .u-image-2 {
    margin-left: 132px;
  }

  .u-section-1 .u-text-3 {
    margin-right: 684px;
  }

  .u-section-1 .u-text-4 {
    margin-top: -56px;
    margin-right: 215px;
    margin-left: 0;
  }

  .u-section-1 .u-text-5 {
    margin-top: 38px;
    margin-right: 167px;
    margin-left: 103px;
  }

  .u-section-1 .u-text-6 {
    margin-top: 7px;
    margin-right: 10px;
    margin-left: 0;
  }

  .u-section-1 .u-text-7 {
    margin-top: 13px;
    margin-right: 158px;
    margin-left: 0;
  }

  .u-section-1 .u-text-8 {
    margin-top: -141px;
    margin-right: 127px;
    margin-left: 0;
  }

  .u-section-1 .u-text-9 {
    margin-top: 82px;
    margin-right: 171px;
    margin-left: 0;
  }

  .u-section-1 .u-image-3 {
    width: 337px;
    height: 337px;
    margin-top: -348px;
    margin-left: -306px;
  }

  .u-section-1 .u-image-4 {
    margin-top: 1058px;
    margin-right: auto;
  }

  .u-section-1 .u-text-10 {
    margin-top: -347px;
    margin-right: 22px;
  }

  .u-section-1 .u-text-11 {
    margin-top: -94px;
    margin-right: 70px;
    margin-left: 28px;
  }

  .u-section-1 .u-text-12 {
    margin-top: -36px;
    margin-right: 86px;
  }

  .u-section-1 .u-text-13 {
    margin-left: 107px;
    margin-right: 0;
    margin-top: -25px;
  }

  .u-section-1 .u-icon-3 {
    margin-top: -31px;
    margin-left: -8px;
  }

  .u-section-1 .u-layout-cell-2 {
    min-height: 603px;
  }

  .u-section-1 .u-text-14 {
    margin-top: 20px;
    margin-right: 215px;
    margin-left: 0;
  }

  .u-section-1 .u-text-15 {
    margin-right: 202px;
    margin-left: 0;
  }

  .u-section-1 .u-image-5 {
    margin-top: -218px;
    margin-right: -2px;
    margin-left: 114px;
  }

  .u-section-1 .u-image-6 {
    margin-top: 174px;
    margin-right: 118px;
    margin-left: 105px;
  }

  .u-section-1 .u-text-16 {
    margin-top: 229px;
    margin-right: 120px;
    margin-left: 0;
  }

  .u-section-1 .u-icon-4 {
    height: 30px;
    margin-top: -33px;
  }

  .u-section-1 .u-text-17 {
    margin-right: 89px;
    margin-left: 4px;
  }

  .u-section-1 .u-text-18 {
    margin-left: 4px;
    margin-right: 0;
  }

  .u-section-1 .u-text-19 {
    margin-right: 0;
    margin-left: 41px;
  }

  .u-section-1 .u-text-20 {
    margin-right: 0;
    margin-left: 62px;
  }

  .u-section-1 .u-text-21 {
    margin-left: 253px;
  }

  .u-section-1 .u-text-22 {
    margin-top: 100px;
    margin-left: 118px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 183px;
  }

  .u-section-1 .u-text-1 {
    margin-right: 602px;
  }

  .u-section-1 .u-text-2 {
    margin-right: 598px;
  }

  .u-section-1 .u-layout-wrap-1 {
    width: 720px;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-1 .u-container-layout-1 {
    padding-left: 30px;
  }

  .u-section-1 .u-group-1 {
    width: 720px;
    margin-left: 0;
  }

  .u-section-1 .u-icon-1 {
    margin-top: 422px;
  }

  .u-section-1 .u-image-1 {
    width: 240px;
    height: 240px;
    margin-top: -472px;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-image-2 {
    margin-top: -199px;
    margin-left: 22px;
  }

  .u-section-1 .u-text-3 {
    margin-right: 636px;
  }

  .u-section-1 .u-text-4 {
    margin-right: 118px;
  }

  .u-section-1 .u-text-5 {
    margin-top: -34px;
    margin-right: 70px;
    margin-left: 22px;
  }

  .u-section-1 .u-text-6 {
    margin-top: 79px;
    margin-right: 0;
  }

  .u-section-1 .u-text-7 {
    margin-right: 61px;
  }

  .u-section-1 .u-text-8 {
    margin-right: 30px;
  }

  .u-section-1 .u-text-9 {
    margin-top: 90px;
    margin-right: 74px;
  }

  .u-section-1 .u-image-3 {
    width: 240px;
    height: 240px;
    margin-top: -237px;
  }

  .u-section-1 .u-image-4 {
    margin-top: 1278px;
  }

  .u-section-1 .u-text-10 {
    margin-top: -588px;
    margin-right: 515px;
  }

  .u-section-1 .u-text-11 {
    margin-right: 1px;
    margin-left: 0;
  }

  .u-section-1 .u-text-12 {
    margin-right: 0;
  }

  .u-section-1 .u-text-13 {
    margin-left: 10px;
  }

  .u-section-1 .u-layout-cell-2 {
    min-height: 100px;
  }

  .u-section-1 .u-text-14 {
    margin-right: 118px;
  }

  .u-section-1 .u-text-15 {
    margin-right: 105px;
  }

  .u-section-1 .u-image-5 {
    margin-top: -117px;
    margin-left: 17px;
  }

  .u-section-1 .u-image-6 {
    margin-right: auto;
    margin-left: 8px;
  }

  .u-section-1 .u-text-16 {
    margin-top: 26px;
    margin-right: 10px;
  }

  .u-section-1 .u-text-17 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-text-18 {
    margin-top: 39px;
    margin-left: 0;
  }

  .u-section-1 .u-text-19 {
    margin-left: 0;
  }

  .u-section-1 .u-text-21 {
    margin-left: 198px;
  }

  .u-section-1 .u-text-22 {
    margin-top: 197px;
    margin-left: 0;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 283px;
  }

  .u-section-1 .u-text-1 {
    margin-right: 422px;
  }

  .u-section-1 .u-text-2 {
    margin-right: 418px;
  }

  .u-section-1 .u-layout-wrap-1 {
    width: 540px;
  }

  .u-section-1 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-group-1 {
    width: 540px;
  }

  .u-section-1 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-icon-1 {
    margin-top: 1010px;
  }

  .u-section-1 .u-image-1 {
    margin-top: -1060px;
  }

  .u-section-1 .u-text-5 {
    margin-top: 89px;
  }

  .u-section-1 .u-text-6 {
    margin-top: -44px;
  }

  .u-section-1 .u-text-9 {
    margin-top: 27px;
  }

  .u-section-1 .u-image-3 {
    margin-top: -283px;
  }

  .u-section-1 .u-image-4 {
    margin-top: 1274px;
  }

  .u-section-1 .u-text-10 {
    margin-top: -647px;
  }

  .u-section-1 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-image-5 {
    margin-top: -240px;
  }

  .u-section-1 .u-text-16 {
    margin-top: 59px;
  }

  .u-section-1 .u-text-18 {
    margin-top: 7px;
  }

  .u-section-1 .u-text-22 {
    margin-top: 222px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-text-1 {
    margin-right: 222px;
  }

  .u-section-1 .u-text-2 {
    font-size: 1.5rem;
    margin-right: 218px;
  }

  .u-section-1 .u-layout-wrap-1 {
    width: 340px;
  }

  .u-section-1 .u-group-1 {
    width: 340px;
  }

  .u-section-1 .u-icon-1 {
    margin-top: 1002px;
  }

  .u-section-1 .u-image-1 {
    margin-top: -1052px;
  }

  .u-section-1 .u-text-5 {
    margin-top: 0;
    margin-left: -124px;
  }

  .u-section-1 .u-text-6 {
    margin-top: 45px;
  }

  .u-section-1 .u-text-9 {
    margin-top: -364px;
  }

  .u-section-1 .u-image-3 {
    margin-top: 225px;
  }

  .u-section-1 .u-image-4 {
    margin-top: 1215px;
  }

  .u-section-1 .u-text-10 {
    margin-top: -987px;
  }

  .u-section-1 .u-text-12 {
    margin-top: -57px;
  }

  .u-section-1 .u-image-5 {
    margin-top: -159px;
  }

  .u-section-1 .u-text-16 {
    font-size: 1.5rem;
    margin-top: 87px;
    margin-right: 0;
  }

  .u-section-1 .u-text-21 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-text-22 {
    margin-top: 197px;
    margin-right: 0;
  }
}.u-section-2 .u-sheet-1 {
  min-height: 787px;
}

.u-section-2 .u-layout-wrap-1 {
  width: 1986px;
  background-image: none;
  margin: 0 auto 0 -386px;
}

.u-section-2 .u-layout-cell-1 {
  min-height: 807px;
  background-image: none;
}

.u-section-2 .u-container-layout-1 {
  padding: 0 0 53px;
}

.u-section-2 .u-shape-1 {
  width: 362px;
  height: 84px;
  background-image: none;
  margin: 30px auto 0 801px;
}

.u-section-2 .u-text-1 {
  letter-spacing: normal;
  margin: -89px 808px 0 801px;
}

.u-section-2 .u-image-1 {
  width: 1686px;
  background-image: url("images/photostudio_1617297201894.png");
  min-height: 573px;
  margin: 22px auto 0 117px;
}

.u-section-2 .u-container-layout-2 {
  padding: 0 30px 20px;
}

.u-section-2 .u-group-2 {
  width: 476px;
  min-height: 402px;
  margin: 87px auto 0 86px;
}

.u-section-2 .u-container-layout-3 {
  padding: 45px 30px 30px;
}

.u-section-2 .u-text-2 {
  margin: -21px 58px 0;
}

.u-section-2 .u-text-3 {
  margin: 44px 92px 0 58px;
}

.u-section-2 .u-text-4 {
  margin: 14px 40px 0 30px;
}

.u-section-2 .u-text-5 {
  margin: 39px 0 0 20px;
}

.u-section-2 .u-text-6 {
  margin: 17px 4px 0;
}

.u-section-2 .u-shape-2 {
  width: 455px;
  height: 402px;
  margin: -402px 30px 0 auto;
}

.u-section-2 .u-text-7 {
  font-weight: 700;
  margin: -366px 72px 0 1201px;
}

.u-section-2 .u-text-8 {
  margin: 30px 72px 0 1154px;
}

.u-section-2 .u-text-9 {
  margin: 11px 92px 0 1218px;
}

.u-section-2 .u-text-10 {
  margin: 48px 109px 0 1264px;
}

.u-section-2 .u-text-11 {
  margin: 17px 158px 0 1283px;
}

.u-section-2 .u-image-2 {
  width: 376px;
  height: 273px;
  margin: -509px auto 0 -30px;
}

@media (max-width: 1199px) {
  .u-section-2 .u-sheet-1 {
    min-height: 319px;
  }

  .u-section-2 .u-layout-wrap-1 {
    width: 940px;
    margin-left: 0;
  }

  .u-section-2 .u-layout-cell-1 {
    min-height: 1233px;
  }

  .u-section-2 .u-container-layout-1 {
    padding-left: 88px;
    padding-right: 8px;
  }

  .u-section-2 .u-shape-1 {
    margin-top: 340px;
    margin-right: 518px;
    margin-left: 578px;
  }

  .u-section-2 .u-text-1 {
    width: 377px;
    letter-spacing: 1px;
    margin-top: 1569px;
    margin-right: 207px;
    margin-left: 296px;
  }

  .u-section-2 .u-image-1 {
    width: 102px;
    margin-top: -1423px;
    margin-right: 196px;
    margin-left: 0;
  }

  .u-section-2 .u-group-2 {
    width: 435px;
    min-height: 386px;
    margin-top: -44px;
    margin-left: auto;
  }

  .u-section-2 .u-text-2 {
    width: 227px;
    margin-top: 137px;
    margin-right: 245px;
    margin-left: -12px;
  }

  .u-section-2 .u-text-3 {
    width: 246px;
    margin-top: 43px;
    margin-right: 242px;
    margin-left: -28px;
  }

  .u-section-2 .u-text-4 {
    width: 332px;
    margin-top: -858px;
    margin-right: 174px;
    margin-left: -45px;
  }

  .u-section-2 .u-text-5 {
    width: 368px;
    margin-top: 730px;
    margin-right: 146px;
    margin-left: -53px;
  }

  .u-section-2 .u-text-6 {
    width: 389px;
    margin-top: -132px;
    margin-right: 135px;
    margin-left: -64px;
  }

  .u-section-2 .u-shape-2 {
    width: 457px;
    height: 385px;
    margin-top: -1347px;
    margin-right: -47px;
  }

  .u-section-2 .u-text-7 {
    margin-top: -1429px;
    margin-right: -42px;
    margin-left: 147px;
  }

  .u-section-2 .u-text-8 {
    margin-top: 103px;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-2 .u-text-9 {
    width: 291px;
    margin-right: 0;
    margin-left: 119px;
  }

  .u-section-2 .u-text-10 {
    width: 238px;
    margin-top: 75px;
    margin-right: 0;
    margin-left: 172px;
  }

  .u-section-2 .u-text-11 {
    width: 186px;
    margin-top: 45px;
    margin-right: 16px;
    margin-left: 209px;
  }

  .u-section-2 .u-image-2 {
    margin-top: -589px;
    margin-left: 367px;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-sheet-1 {
    min-height: 110px;
  }

  .u-section-2 .u-layout-wrap-1 {
    width: 720px;
  }

  .u-section-2 .u-layout-cell-1 {
    min-height: 1238px;
  }

  .u-section-2 .u-container-layout-1 {
    padding-left: 68px;
    padding-right: 6px;
    padding-bottom: 30px;
  }

  .u-section-2 .u-shape-1 {
    margin-top: 364px;
    margin-right: 298px;
    margin-left: 358px;
  }

  .u-section-2 .u-text-1 {
    margin-top: 1577px;
    margin-right: 97px;
    margin-left: 186px;
  }

  .u-section-2 .u-image-1 {
    margin-top: -1427px;
  }

  .u-section-2 .u-group-2 {
    width: 240px;
    margin-top: 16px;
  }

  .u-section-2 .u-container-layout-3 {
    padding-top: 30px;
  }

  .u-section-2 .u-text-2 {
    margin-top: 109px;
    margin-right: 190px;
  }

  .u-section-2 .u-text-3 {
    margin-right: 187px;
  }

  .u-section-2 .u-text-4 {
    width: 300px;
    margin-top: -978px;
    margin-right: 119px;
  }

  .u-section-2 .u-text-5 {
    width: 300px;
    margin-top: 854px;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-2 .u-text-6 {
    width: 300px;
    margin-top: -224px;
    margin-right: 4px;
    margin-left: 0;
  }

  .u-section-2 .u-shape-2 {
    width: 300px;
    margin-top: -1411px;
    margin-right: 0;
  }

  .u-section-2 .u-text-7 {
    margin-right: 0;
    margin-left: 19px;
  }

  .u-section-2 .u-text-9 {
    margin-left: 9px;
  }

  .u-section-2 .u-text-10 {
    margin-left: 62px;
  }

  .u-section-2 .u-text-11 {
    margin-right: 0;
    margin-left: 115px;
  }

  .u-section-2 .u-image-2 {
    margin-left: 147px;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-layout-wrap-1 {
    width: 540px;
  }

  .u-section-2 .u-container-layout-1 {
    padding-right: 0;
    padding-left: 0;
  }

  .u-section-2 .u-shape-1 {
    margin-top: -200px;
    margin-right: 158px;
    margin-left: 178px;
  }

  .u-section-2 .u-text-1 {
    margin-top: 2705px;
    margin-right: 27px;
    margin-left: 116px;
  }

  .u-section-2 .u-image-1 {
    margin-top: -1991px;
  }

  .u-section-2 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-text-7 {
    margin-top: -1365px;
  }

  .u-section-2 .u-image-2 {
    width: 540px;
    height: 427px;
    margin-left: 144px;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-layout-wrap-1 {
    width: 340px;
  }

  .u-section-2 .u-container-layout-1 {
    padding-left: 54px;
    padding-right: 54px;
  }

  .u-section-2 .u-shape-1 {
    width: 320px;
    margin-top: -329px;
    margin-right: auto;
    margin-left: 0;
  }

  .u-section-2 .u-text-1 {
    width: 320px;
    margin-top: 2963px;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-2 .u-image-1 {
    margin-top: -2094px;
  }

  .u-section-2 .u-text-2 {
    margin-top: 117px;
    margin-right: 399px;
    margin-left: -30px;
  }

  .u-section-2 .u-text-3 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-2 .u-text-4 {
    margin-top: -979px;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-2 .u-text-6 {
    margin-right: 0;
  }

  .u-section-2 .u-shape-2 {
    margin-top: -1410px;
  }

  .u-section-2 .u-text-7 {
    margin-top: -1385px;
  }

  .u-section-2 .u-text-9 {
    margin-left: 0;
  }

  .u-section-2 .u-text-10 {
    margin-left: 0;
  }

  .u-section-2 .u-text-11 {
    margin-left: 0;
  }

  .u-section-2 .u-image-2 {
    width: 340px;
    height: 269px;
    margin-left: 0;
  }
}.u-section-3 {
  min-height: 941px;
}

.u-section-3 .u-layout-wrap-1 {
  margin-top: -5px;
  margin-bottom: 0;
}

.u-section-3 .u-layout-cell-1 {
  min-height: 946px;
  background-image: none;
}

.u-section-3 .u-container-layout-1 {
  padding-right: 10px;
}

.u-section-3 .u-layout-wrap-2 {
  width: 1272px;
  margin: -831px calc(((100% - 1140px) / 2) + -137px) 0 auto;
}

.u-section-3 .u-layout-cell-2 {
  min-height: 831px;
}

.u-section-3 .u-container-layout-2 {
  padding: 30px 30px 0;
}

.u-section-3 .u-shape-1 {
  width: 514px;
  height: 562px;
  background-image: linear-gradient(black, #272f7a);
  margin: 0 57px 0 -143px;
}

.u-section-3 .u-image-1 {
  width: 543px;
  height: 761px;
  margin: -632px auto 0 -115px;
}

.u-section-3 .u-layout-cell-3 {
  min-height: 831px;
}

.u-section-3 .u-container-layout-3 {
  padding: 10px 30px 0;
}

.u-section-3 .u-image-2 {
  width: 660px;
  height: 791px;
  margin: 0 auto 0 0;
}

.u-section-3 .u-text-1 {
  font-size: 1.875rem;
  width: 217px;
  margin: -552px auto 0;
}

.u-section-3 .u-icon-1 {
  color: rgb(194, 210, 235) !important;
  width: 50px;
  height: 58px;
}

.u-section-3 .u-text-2 {
  font-size: 1.5rem;
  width: 242px;
  margin: -95px auto 0;
}

.u-section-3 .u-social-icons-1 {
  height: 48px;
  min-height: 16px;
  width: 121px;
  min-width: 57px;
  white-space: nowrap;
  margin: 114px auto 0 308px;
}

.u-section-3 .u-icon-2 {
  height: 100%;
}

.u-section-3 .u-icon-3 {
  height: 100%;
}

.u-section-3 .u-btn-1 {
  border-style: solid;
  text-transform: uppercase;
  font-size: 1rem;
  letter-spacing: 2px;
  background-image: none;
  font-family: "Donegal One";
  font-weight: normal;
  margin: 49px auto 0;
}

.u-section-3 .u-icon-4 {
  font-size: 1.3em;
}

.u-section-3 .u-group-1 {
  width: 391px;
  min-height: 205px;
  margin: -411px 160px 0 auto;
}

.u-section-3 .u-container-layout-4 {
  padding-left: 30px;
  padding-right: 30px;
  padding-top: 0;
}

.u-section-3 .u-text-3 {
  font-size: 2.25rem;
  letter-spacing: 1px;
  margin: 28px 52px 0 40px;
}

.u-section-3 .u-shape-2 {
  width: 257px;
  height: 54px;
  margin: -182px 237px 0 auto;
}

.u-section-3 .u-image-3 {
  width: 346px;
  height: 274px;
  margin: 264px -257px 0 auto;
}

@media (max-width: 1199px) {
  .u-section-3 {
    min-height: 488px;
  }

  .u-section-3 .u-layout-cell-1 {
    min-height: 780px;
  }

  .u-section-3 .u-container-layout-1 {
    padding-left: 88px;
    padding-right: 8px;
  }

  .u-section-3 .u-layout-wrap-2 {
    width: 940px;
    margin-right: calc(((100% - 940px) / 2));
  }

  .u-section-3 .u-layout-cell-2 {
    background-position: 50% 50%;
    min-height: 702px;
  }

  .u-section-3 .u-shape-1 {
    width: 300px;
    height: 473px;
    margin-top: 310px;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-3 .u-image-1 {
    width: 398px;
    height: 405px;
    margin-top: -1392px;
    margin-left: -205px;
  }

  .u-section-3 .u-layout-cell-3 {
    min-height: 933px;
  }

  .u-section-3 .u-image-2 {
    width: 638px;
    height: 623px;
    margin-top: 300px;
    margin-right: -181px;
    margin-left: 292px;
  }

  .u-section-3 .u-text-1 {
    margin-top: -1511px;
    margin-right: 62px;
    margin-left: 235px;
  }

  .u-section-3 .u-text-2 {
    margin-top: -157px;
    margin-right: 0;
  }

  .u-section-3 .u-social-icons-1 {
    margin-top: 145px;
    margin-right: NaNpx;
  }

  .u-section-3 .u-btn-1 {
    padding: 0;
  }

  .u-section-3 .u-group-1 {
    width: 520px;
    min-height: 146px;
    margin-top: -410px;
    margin-right: 129px;
    margin-left: 0;
  }

  .u-section-3 .u-container-layout-4 {
    padding-top: 30px;
    padding-bottom: 23px;
  }

  .u-section-3 .u-text-3 {
    width: 232px;
    margin-top: -322px;
    margin-right: 131px;
    margin-left: -57px;
  }

  .u-section-3 .u-shape-2 {
    width: 645px;
    height: 258px;
    margin-top: 105px;
    margin-right: 10px;
    margin-left: -190px;
  }

  .u-section-3 .u-image-3 {
    margin-top: 191px;
    margin-right: -219px;
  }
}

@media (max-width: 991px) {
  .u-section-3 {
    min-height: 175px;
  }

  .u-section-3 .u-layout-cell-1 {
    min-height: 597px;
  }

  .u-section-3 .u-container-layout-1 {
    padding-left: 68px;
    padding-right: 6px;
  }

  .u-section-3 .u-layout-wrap-2 {
    width: 720px;
    margin-right: calc(((100% - 720px) / 2));
  }

  .u-section-3 .u-layout-cell-2 {
    min-height: 843px;
  }

  .u-section-3 .u-shape-1 {
    width: 216px;
  }

  .u-section-3 .u-layout-cell-3 {
    min-height: 927px;
  }

  .u-section-3 .u-image-2 {
    width: 384px;
    height: 460px;
    margin-top: 457px;
    margin-right: auto;
    margin-left: 72px;
  }

  .u-section-3 .u-text-1 {
    margin-top: -1348px;
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-3 .u-text-2 {
    margin-right: 4px;
  }

  .u-section-3 .u-group-1 {
    width: 384px;
    margin-right: 0;
  }

  .u-section-3 .u-shape-2 {
    width: 384px;
    margin-left: 0;
  }
}

@media (max-width: 767px) {
  .u-section-3 {
    min-height: 606px;
  }

  .u-section-3 .u-layout-cell-1 {
    min-height: 448px;
  }

  .u-section-3 .u-container-layout-1 {
    padding-right: 0;
    padding-left: 0;
  }

  .u-section-3 .u-layout-wrap-2 {
    width: 540px;
    margin-right: calc(((100% - 540px) / 2));
  }

  .u-section-3 .u-layout-cell-2 {
    min-height: 1053px;
  }

  .u-section-3 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-3 .u-shape-1 {
    margin-top: 311px;
  }

  .u-section-3 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-3 .u-image-2 {
    margin-left: 0;
  }

  .u-section-3 .u-container-layout-4 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-3 {
    min-height: 104px;
  }

  .u-section-3 .u-layout-cell-1 {
    min-height: 282px;
  }

  .u-section-3 .u-container-layout-1 {
    padding-left: 54px;
    padding-right: 54px;
  }

  .u-section-3 .u-layout-wrap-2 {
    width: 340px;
    margin-right: calc(((100% - 340px) / 2));
  }

  .u-section-3 .u-layout-cell-2 {
    min-height: 663px;
  }

  .u-section-3 .u-shape-1 {
    margin-top: 310px;
  }

  .u-section-3 .u-layout-cell-3 {
    min-height: 909px;
  }

  .u-section-3 .u-image-2 {
    width: 320px;
    height: 383px;
    margin-top: 516px;
  }

  .u-section-3 .u-text-1 {
    margin-top: -1256px;
  }

  .u-section-3 .u-text-2 {
    margin-right: 0;
  }

  .u-section-3 .u-group-1 {
    width: 320px;
    margin-left: auto;
  }

  .u-section-3 .u-text-3 {
    font-size: 1.5rem;
    margin-top: -307px;
    margin-right: 30px;
    margin-left: 24px;
  }

  .u-section-3 .u-shape-2 {
    width: 320px;
    margin-top: 90px;
    margin-left: auto;
  }
}